/*  START-PAGE STYLING */
  
header {
    border: 5px darkgrey solid;
    border-radius: 25px;
  }
  
  header, .start-button {
    background-color: rgb(143, 39, 13);
  }
  
  .header-div {
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  h1 {
    
    text-align: center;
    color: white;
  }
  h1, .start-page-header {
    font-family: 'Bulletto Killa';
  }
  
  h1, .start-page-header-author {
    color: white;
  }
  
  .start-page-header-author {
    font-size: 12px;
  }
  
  .start-page-header-quote {
    color: #d8ca10;
    font-size: 25px;
  }
  
  .start-page-middle {
    margin-top: 30px;
  }
  
  .start-page-form {
    margin-top: 25px;
    text-align: center;
  }
   
  
  .start-button {
    font-size: 30px;
    
  }
  
  
  /*quiz questions*/
  
  .main-quiz-form {
    background-color: rgb(32, 20, 2);
    border: 4px darkgrey solid;
    border-radius: 25px;
    opacity: 0.8;
  }
  
  .answer-to-question {
    background-color: rgb(177, 147, 23);
    margin: 15px;
    font-size: 25px;
  }
  
  .quiz-div {
    margin-top: 50px;
  }
  
  .quiz-questions {
    color: #dbed19;
    font-size: 23px;
    text-align: center;
  }
  
  .submit-question, .close {
    background-color: #cd1f0f;
    font-size: 20px;
    text-align: center;
    
    
  }
  
  .submit-question {
    margin-left: 18px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .score-and-question {
    margin-left: 18px;
    font-size: 18px;
  }
  
  .current-question-div, .current-score-div, .score-and-question, .submit-div {
    display: inline-block;
    color: aliceblue;
  }
  
  .current-question-div {
    margin-right: 25px;
    color: aliceblue;
  }button.start-over.final-score-button
  
  .answer-to-question {
    display: block;
  }
  
  .hidden {
    display: none;
  }
   
  
  /*  RESULTS-PAGE STYLING */
  
  .final-results {
    text-align: center;
    color: #780000;
    font-size: 42px;
  }
  
  .start-over {
    background-color: rgb(131, 113, 11);
    font-size: 22px;
    padding: 5px;
  }
  
  
  
  /*    POP-UP-IMAGE STYLING */
  
  .body-transparent {
    opacity: .1;
  }
  
  .pop-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    
  }
  
  .pop-inner {
    margin-top: 100px;
  /*  width: 520px;
    height: 420px;*/
    padding: 25px;
    padding-bottom: 50px;
    border: 6px darkgrey solid;
    border-radius: 20px;
    background-color: rgb(23, 13, 1);

  }
  
  .pop-up-text {
    font-size: 25px;
    text-align: center;
    color: rgb(230, 4, 4);
  }
  
  .pop-up-image {
    height: 45%;
    width: 55%;
    max-width: 450px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
    transition: all 5s ease-in-out;
  }
  
  
 
    
/*style fog*/

.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  html, body {
    height: 1000%;
    
    overflow: hidden;
  }
  
  .ag-fog-block {
    height: 100%;
   background-color: black;
  }
  .ag-fog {
    height: 75.625em;
    /*width: 121.25em;*/
    width: 100%;
    background: url(fog.png) 0 100%/6400% 100% no-repeat;
  
    opacity: 0.8;
  
    -webkit-animation: an-fog steps(63, start) 10s infinite;
    -moz-animation: an-fog steps(63, start) 10s infinite;
    -o-animation: an-fog steps(63, start) 10s infinite;
    animation: an-fog steps(63, start) 10s infinite;
  }
  
  @-webkit-keyframes an-fog {
    to {
      background-position-x: 100%;
    }
  }
  @-moz-keyframes an-fog {
    to {
      background-position-x: 100%;
    }
  }
  @-o-keyframes an-fog {
    to {
      background-position-x: 100%;
    }
  }
  @keyframes an-fog {
    to {
      background-position-x: 100%;
    }
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  